{% macro show_comments(comments, pid=None) %}
  {% for comment in comments %}
    {% if comment.pid != pid %}
      {% continue %}
    {% endif %}
    {% include "comment_with_children.html" %}
  {% endfor %}
{% endmacro %}

{% macro flag(country_code) %}
  <img class='flag' src='img/flags/icon_{{ country_code }}.svg' alt='{{ country_code }}'/>
{% endmacro %}
