{% macro show_comments(comments, parent_comment_id=None) %}
  {% for comment in comments %}
    {% if comment.parent_comment_id != parent_comment_id %}
      {% continue %}
    {% endif %}
    {% include "comment_with_children.html" %}
  {% endfor %}
{% endmacro %}

{% macro flag(country_code) %}
  <img class='flag' src='{{ url_for('static', filename='img/flags/icon_' + country_code + '.svg') }}' alt='{{ country_code }}'/>
{% endmacro %}
