{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block id %}about{% endblock %}
{% block content %}
<h1 class='fancy-title'><span>About</span></h1>

<p>The group was founded in 2017 for the purpose of subbing "Attack No. 1".
Focused on series that have slight chances of being picked up by other groups,
especially older stuff, Old Castle favors quality over speed.</p>

<h2>Active members</h2>

<table>
  <tr>
    <td class='flag'><img class='flag' src='img/icon_pl.svg' alt='Poland'/></td>
    <td class='name'>rr-</td>
    <td class='desc'>Founder, translator, publisher</td>
  </tr>
  <tr>
    <td class='flag'><img class='flag' src='img/icon_us.svg' alt='United States'/></td>
    <td class='name'>BlackRose108</td>
    <td class='desc'>Editor{# for Attack No. 1, Monster Hunter Stories: Ride On, Lassie and Paris no Isabelle #}</td>
  </tr>
</table>

<h2>Contributors <small>(in alphabetical order)</small></h2>

<table>
  <tr>
    <td class='flag'><img class='flag' src='img/icon_us.svg' alt='United States'/></td>
    <td class='name'>DranzerX13</td>
    <td class='desc'>RAW provider for Monster Hunter Stories: Ride On</td>
  </tr>
  <tr>
    <td class='flag'><img class='flag' src='img/icon_ca.svg' alt='Canada'/></td>
    <td class='name'>Greg</td>
    <td class='desc'>Editor for Glass Mask</td>
  </tr>
  <tr>
    <td class='flag'><img class='flag' src='img/icon_fr.svg' alt='France'/></td>
    <td class='name'>Johnny</td>
    <td class='desc'>RAW provider for Attack No. 1 movies and Saint Tail</td>
  </tr>
  <tr>
    <td class='flag'><img class='flag' src='img/icon_pl.svg' alt='Poland'/></td>
    <td class='name'>kropiciel</td>
    <td class='desc'>Translation assistance</td>
  </tr>
</table>

<h2>Our friends</h2>

<ul id='friends'>
  <li>
    <a href='https://southwindsubs.wordpress.com/'>
      <img src='img/banners/south-wind-subs.png' alt='South Wind Subs'/>
    </a>
  </li>

  <li>
    <a href='https://johnnyenglishsubs.wordpress.com/'>
      <img src='img/banners/johnny.png' alt='Johnny English Subs'/>
    </a>
  </li>
</ul>

<h2>Contact</h2>

<img src='img/banners/old-castle.png' alt='Old Castle'/>

<p>
  E-mail - contact@oldcastle.moe<br/>
  IRC channel - #old-castle on Rizon
</p>


<p>Our releases should hash to checksums in form of <code>XXXXYZZZ</code>,
where <code>XXXX</code> is magic content hash, <code>Y</code> is release
version and <code>ZZZ</code> is the episode number.</p>

<p><a href='featured.html'>Here</a> you can see previous featured images,
and <a href='requests.html'>here</a> you can place an anime request.</p>
{% endblock %}
