<div id='comment-{{ comment.comment_id }}' class='comment'>
  <div class='avatar'>
    <img src='{{ comment.author_avatar_url }}' alt='Avatar'>
  </div>
  <div class='text-wrapper'>
    <div role='meta' class='comment-header'>
      <span class='author'>{{ comment.author }}</span>
      <span class='spacer'>&bull;</span>
      <a href='#comment-{{ comment.comment_id }}' class='permalink'
        ><time title='{{ comment.created }}' datetime='{{ comment.created }}'>{{ comment.created.strftime('%A, %d %B %Y') }}</time
      ></a>
      {% if not is_preview %}
          <span class='spacer'>&bull;</span>
          <a href='{{ url_for('comment_add', pid=comment.comment_id) }}' class='reply'>Reply</a>
      {% endif %}
    </div>
    <div class='text'>
      {{ comment.html|safe }}
    </div>
    <div class='follow-up'>
      {% block follow_up %}{% endblock %}
    </div>
  </div>
</div>
