{% extends "base.html" %}
{% import "_macros.jinja" as macros %}
{% macro project_list_item(project) %}
  <li class='project'>
    <a href='{{ project.url }}'>
      <div class='cover' style='background-image: url("{{ url_for('static', filename='img/projects/' + project.stem + '-small.jpg') }}")'><!--
        --><ul class='languages'>
          {%- for language in project.languages -%}
            <li class='language'>{{ macros.flag(language) }}</li>
          {%- endfor -%}
        </ul><!--
      --></div><!--
      -->{{ project.title|safe }}
    </a>
  </li>
{% endmacro %}
{% macro project_list(projects, title) %}
  <h1 class='fancy-title'><span>{{ title }}</span></h1>
  {% if not projects|length %}
    Nothing… yet!
  {% endif %}
  <ul class='projects'>
    {% for project in projects %}
      {{- project_list_item(project) }}
    {% endfor %}
  </ul>
{% endmacro %}
{% block title %}Projects{% endblock %}
{% block id %}projects{% endblock %}
{% block content %}
{% set ongoing_projects = projects|rejectattr('is_finished')|list %}
{% set finished_projects = projects|selectattr('is_finished')|list %}
{{ project_list(ongoing_projects, 'Ongoing projects') }}
{{ project_list(finished_projects, 'Finished projects') }}
<p>For IRC packlist, please head <a href='https://oldcastle.moe/packlist.txt'>here</a>.</p>
{% endblock %}
