{% extends "base.html" %}
{% block title %}{{ project.title|striptags }}{% endblock %}
{% block id %}project{% endblock %}

{% block content %}
  <h1 class='fancy-title'>
    <span>{{ project.title|safe }}</span>
  </h1>

  <div id='project-wrapper'>
    <aside id='project-aside'>
      <a href='img/projects/{{ project.stem }}-big.jpg'>
        <img src='img/projects/{{ project.stem }}-big.jpg' alt='{{ project.title|striptags }}'/>
      </a>
    </aside>

    <section id='project-synopsis'>
      {% block project_synopsis %}{% endblock %}
      {% block project_notes %}{% endblock %}

      <p id='project-external-links'>
        {% for anidb_id in project.anidb_ids %}
          <a href="{{ anidb_id }}">
            {%- if project.anidb_ids|length > 1 -%}
              AniDB {{ loop.index }}
            {%- else -%}
              AniDB
            {%- endif -%}
          </a>
        {% endfor %}
      </p>
    </section>

  </div>

  <h2>Releases ({{ project.status }})</h2>

  {% block project_releases %}
    <ul class='release'>
      {% for release in project.releases %}
        <li>
          <table>

            <tr>
              <td>Date:</td>
              <td>
                <span class='date'>{{ release.date.strftime('%A, %d %b %Y %H:%M:%S') }}</span>
              </td>
            </tr>

            <tr>
              <td>Files:</td>
              <td>
                <ul class='files'>
                  {% for file in release.files %}
                    <li>
                      {{ file.file_name }}
                      {% if file.file_version > 1 %}
                        (v{{ file.file_version }})
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul>
              </td>
            </tr>

            <tr>
              <td>BTIH:</td>
              <td>{{ release.btih|default('Unknown') }}</td>
            </tr>

            <tr>
              <td>Links:</td>
              <td>
                {% if project.takedown_request %}
                  Links removed due to takedown request sent by {{ project.takedown_request }}.
                {% else %}
                  <ul class='links'>
                    {% for link in release.links %}
                      <li>
                        {%- for infix in ['magnet', 'nyaa.si', 'nyaa.net', 'anidex.info'] -%}
                          {%- if infix in link -%}
                            <a href="{{ link }}" title="{{ link }}">{#
                              #}<img src='/img/{{ infix }}.png' title='{{ infix }}'/>{#
                              #}<span>{{ infix }}</span>{#
                            #}</a>
                          {%- endif -%}
                        {%- endfor -%}
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </td>
            </tr>

          </table>

        </li>
      {% endfor %}
    </ul>
  {% endblock %}
{% endblock %}
