{% extends "base.html" %}
{% block title %}{{ project.title|striptags }}{% endblock %}
{% block id %}project{% endblock %}

{% block content %}
  <h1 class='fancy-title'><span>{{ project.title|safe }}</span></h1>

  <div id='project-wrapper'>
    <aside id='project-aside'>
      <a href='img/projects/{{ project.stem }}-big.jpg'>
        <img src='img/projects/{{ project.stem }}-big.jpg' alt='{{ project.title|striptags }}'/>
      </a>
    </aside>

    <section id='project-synopsis'>
      {% block project_synopsis %}{% endblock %}
      {% block project_notes %}{% endblock %}
    </section>

  </div>

  <h2>Releases ({{ project.status }})</h2>

  {% block project_releases %}
    {% import 'release-table.html' as release_table %}
    {{ release_table.table(releases, project.release_filter, project.takedown_request) }}
  {% endblock %}
{% endblock %}
