{% load static url_extras %}
<!DOCTYPE html>
<html lang='en'>
<head>
  {% block head %}
  <meta charset='utf-8'/>
  <meta name='description' content='Old Castle – fan-made subtitles for old and abandoned anime series.'/>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <title>Old Castle Fansubs - {% block title %}{% endblock %}</title>
  <link rel='icon' href='{% static 'favicon.ico' %}' type='image/x-icon'/>
  <link rel='preload' href='{% static 'style.css' %}?{% deployment_id %}' as='style'/>
  <link rel='preload' href='{% static 'comments.css' %}?{% deployment_id %}' as='style'/>
  <link rel='preload' href='{% static 'img/blue.jpg' %}' as='image' type='image/jpeg'/>
  <link rel='preload' href='{% static 'img/stone.jpg' %}' as='image' type='image/jpeg'/>
  <link rel='preload' href='https://fonts.googleapis.com/css?family=New+Rocker|Pirata+One|Roboto|UnifrakturCook:700'/>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=New+Rocker|Pirata+One|Roboto|UnifrakturCook:700'/>
  <link rel='stylesheet' href='{% static 'style.css' %}?{% deployment_id %}'/>
  <link rel='stylesheet' href='{% static 'comments.css' %}?{% deployment_id %}'/>
  {% endblock %}
</head>
<body id='{% block id %}{% endblock %}'>
  <main>
    <header id='top-header'>
      <h1>
        <a href='{% url 'home' %}'>
          Old Castle<br/>
          <small>fansub group</small>
        </a>
      </h1>
      <nav id='top-nav'>
        <ul>
          <li><a href='{% url 'home' %}'>Home</a></li>
          <li><a href='{% url 'news' %}'>News</a></li>
          <li><a href='{% url 'projects' %}'>Releases</a></li>
          <li><a href='{% url 'guest_book' %}'>Guest book</a></li>
          <li><a href='{% url 'anime_requests' %}'>Requests</a></li>
          <li><a href='{% url 'about' %}'>About</a></li>
        </ul>
      </nav>
    </header>
    <div id='content'>
      {% block content %}{% endblock %}
    </div>
  </main>
</body>
</html>
