{% extends "base.html" %}
{% load static %}
{% block title %}Previously featured images{% endblock %}
{% block id %}featured-images{% endblock %}
{% block content %}
<h1 class='fancy-title'><span>Previously featured images</span></h1>

<ul>
  {% for featured_image in featured_images.all %}
    <li>
      <a href='{{ featured_image.image.url }}'>
        <img loading='lazy' src='{{ featured_image.image.url }}' alt='Featured image from {{ featured_image.feature_date }}'/>
      </a>
    </li>
  {% endfor %}
</ul>
{% endblock %}
