{% load url_extras %}

<div class='pagination'>
  <span class='step-links'>
    {% if page.has_previous %}
      <a href='?{% query_transform request page=1 %}'>&laquo; first</a>
      <a href='?{% query_transform request page=page.previous_page_number %}'>previous</a>
    {% else %}
      <a>&laquo; first</a>
      <a>previous</a>
    {% endif %}

    <span class='current'>
      Page {{ page.number }} of {{ page.paginator.num_pages }}
    </span>

    {% if page.has_next %}
      <a href='?{% query_transform request page=page.next_page_number %}'>next</a>
      <a href='?{% query_transform request page=page.paginator.num_pages %}'>last &raquo;</a>
    {% else %}
      <a>next</a>
      <a>last &raquo;</a>
    {% endif %}
  </span>
</div>
