{% extends "base.html" %}
{% load url_extras %}
{% block title %}Anime requests{% endblock %}
{% block id %}requests{% endblock %}
{% block content %}

<h1 class='fancy-title'><span>Anime requests</span></h1>

<p><strong>Disclaimer:</strong> We might choose something that's not even on
the request list for the next project due to various circumstances.
Additionally, we do not moderate this list, which means that there are going to
be titles that were already started by other groups and that's okay.</p>

<hr/>

<nav>
  <form action='' method='get'>
    <label for='search_text'>Search:</label>
    <input name='search_text' type='text' id='search_text' value='{% if search_text %}{{ search_text }}{% endif %}'/>
    <button type='submit'value='submit'>Submit</button>
    <a href='{% url 'anime_request_add' %}'>Make a new request</a>
  </form>

  Sort by:
  <span>
    Title
    <a href='?{% query_transform request page=None sort='title' %}'>↓</a>
    <a href='?{% query_transform request page=None sort='-title' %}'>↑</a>
  </span>
  <span>
    Episodes
    <a href='?{% query_transform request page=None sort='episodes' %}'>↓</a>
    <a href='?{% query_transform request page=None sort='-episodes' %}'>↑</a>
  </span>
  <span>
    Type
    <a href='?{% query_transform request page=None sort='type' %}'>↓</a>
    <a href='?{% query_transform request page=None sort='-type' %}'>↑</a>
  </span>
  <span>
    Request date
    <a href='?{% query_transform request page=None sort='request_date' %}'>↓</a>
    <a href='?{% query_transform request page=None sort='-request_date' %}'>↑</a>
  </span>
  <span>
    Airing date
    <a href='?{% query_transform request page=None sort='start_date' %}'>↓</a>
    <a href='?{% query_transform request page=None sort='-start_date' %}'>↑</a>
  </span>
  <span>
    Comment count
    <a href='?{% query_transform request page=None sort='comment_count' %}'>↓</a>
    <a href='?{% query_transform request page=None sort='-comment_count' %}'>↑</a>
  </span>
</nav>

<hr/>

<ul>
  {% for anime_request in page.object_list.all %}
    <li>
      {% include 'snippets/request.html' with anime_request=anime_request include_comment_count=True %}
    </li>
  {% endfor %}
</ul>

{% include 'pager.html' with page=page %}

{% endblock %}
