{% extends "base.html" %}
{% block title %}Anime requests{% endblock %}
{% block id %}requests{% endblock %}
{% block content %}

<h1 class='fancy-title'><span>Anime requests</span></h1>

<p><strong>Disclaimer:</strong> Before doing requests, we suggest the viewers
to <strong>double check with anidb</strong> whether the series have subtitles
done by other groups. This list serves as a pool of suggestions for us to take
when we have the room for new titles. This means that it is by no means
binding, i.e. we may choose titles outside of this list for our future
projects.</p>

<p>We don't moderate this list, which means that you are probably going to see
titles that were already started by other groups. Don't worry, we will
prioritize the series according to their value and ease to sub once we get to
review this list.</p>

<p>Newest requests placed are at the top of the list. If you don't see your
title on this list, you can <a href='{% url 'anime_request_add' %}'>request one
here</a>.</p>

<hr/>

<ul>
  {% for request in page.object_list.all %}
    <li>
      <div class='image'>
        {% if request.anidb_image %}
          <a href='{{ request.anidb_image.url }}'>
            <img loading='lazy' src='{{ request.anidb_image.url }}' alt='{{ request.title }}'/>
          </a>
        {% else %}
          -
        {% endif %}
      </div>

      <div class='details'>
        <p>
          <strong>{{ request.title }}</strong>

          ({% if request.anidb_type %}{{ request.anidb_type }},
            {{ request.anidb_episodes }} episodes,
          {% endif %}<a href='{{ request.anidb_url }}'>AniDB</a>)
        </p>

        <p>
          <small>
            {% if request.request_date %}
              Requested on {{ request.request_date }}
            {% else %}
              Requested before Jun 2019
            {% endif %}
          </small>
        </p>

        {% if request.anidb_synopsis %}
          <p>{{ request.anidb_synopsis }}</p>
        {% endif %}
      </div>
    </li>
  {% endfor %}
</ul>

{% include 'pager.html' with page=page %}

{% endblock %}
