{% extends "base.html" %}
{% load url_extras %}
{% block title %}Anime requests{% endblock %}
{% block id %}requests{% endblock %}
{% block content %}

<h1 class='fancy-title'><span>Anime requests</span></h1>

{% include 'snippets/request.html' with anime_request=anime_request anidb_entry=anidb_entry %}

<p>
  {% if comments_enabled %}
    <a href='{% url 'anime_request_comment' object_id=anime_request.pk %}'>Add new comment</a>
  {% else %}
    New comments are disabled.
  {% endif %}
</p>

{% include 'snippets/comments.html' with comments=comments comment_url='anime_request_comment' object_id=anime_request.pk %}

{% endblock %}
