<div class='request'>
  <div class='image'>
    {% if anime_request.anidb_image %}
      <a href='{{ anime_request.anidb_image.url }}'>
        <img loading='lazy' src='{{ anime_request.anidb_image.url }}' alt='{{ anime_request.anidb_title }}'/>
      </a>
    {% else %}
      -
    {% endif %}
  </div>

  <div class='details'>
    <p>
      <a href='{% url 'anime_request' anime_request.pk %}'>
        {% if anime_request.anidb_title %}
          <strong>{{ anime_request.anidb_title }}</strong>
        {% else %}
          <strong>Anime #{{ anime_request.anidb_id }}</strong>
        {% endif %}
      </a>

      ({% if anime_request.anidb_type %}{{ anime_request.anidb_type }},
        {{ anime_request.anidb_episodes }} episodes,
      {% endif %}<a href='{{ anime_request.anidb_url }}'>AniDB</a>)
    </p>

    <p>
      <small>
        {% if anime_request.request_date %}
          Requested on {{ anime_request.request_date }}
        {% else %}
          Requested before Jun 2019
        {% endif %}
      </small>
    </p>

    {% if anime_request.anidb_synopsis %}
      <p>{{ anime_request.anidb_synopsis }}</p>
    {% else %}
      <p>This title has no synopsis.</p>
    {% endif %}

    {% if include_comment_count %}
      <p>
        <a href='{% url 'anime_request' anime_request.pk %}'>
          {{ anime_request.comment_count }} {{ anime_request.comment_count|pluralize:"comment,comments" }}
        </a>
      </p>
    {% endif %}
  </div>
</div>
