{% with anidb_entry=anime_request.anidb_entry %}

<div class='request'>
  <div class='image'>
    {% if anidb_entry.image %}
      <a href='{{ anidb_entry.image.url }}'>
        <img loading='lazy' src='{{ anidb_entry.image.url }}' alt='{{ anidb_entry.title }}'/>
      </a>
    {% else %}
      -
    {% endif %}
  </div>

  <div class='details'>
    <p>
      <a href='{% url 'anime_request' anime_request.pk %}'>
        {% if anidb_entry.title %}
          <strong>{{ anidb_entry.title }}</strong>
        {% else %}
          <strong>Anime #{{ anime_request.anidb_id }}</strong>
        {% endif %}
      </a>

      ({% if anidb_entry.type %}{{ anidb_entry.type }},
        {{ anidb_entry.episodes }} episodes,
      {% endif %}<a href='{{ anidb_entry.url }}'>AniDB</a>)
    </p>

    <p>
      <small>
        {% if anime_request.request_date %}
          Requested on {{ anime_request.request_date }}
        {% else %}
          Requested before Jun 2019
        {% endif %}
      </small>
    </p>

    {% if anidb_entry.synopsis %}
      <p>{{ anidb_entry.synopsis }}</p>
    {% else %}
      <p>This title has no synopsis.</p>
    {% endif %}

    {% if include_comment_count %}
      <p>
        <a href='{% url 'anime_request' anime_request.pk %}'>
          {{ anime_request.comment_count }} {{ anime_request.comment_count|pluralize:"comment,comments" }}
        </a>
      </p>
    {% endif %}
  </div>
</div>

{% endwith %}
