{% extends "project.html" %}
{% block project_title %}Attack No. 1{% endblock %}
{% block project_status %}finished{% endblock %}
{% block project_release_filter %}Attack No. 1 - \d{% endblock %}
{% block project_takedown_request %}TMS{% endblock %}

{% block project_synopsis %}
  <p>The story is about Ayuhara Kozue, a 12-year-old girl who transferred to
  Fujimi College and tried out for the school volleyball team. She develops a
  friendship with her teammate Hayakawa Midori, and her talents impress coach
  Hongou more and more each day. Kozue discovers that being at the top would
  bring stress, incompatibilities and other dilemmas into her life. Her high
  expectations of becoming the best volleyball player in the school, Japan and
  eventually the world, set the tone for the drama to follow.
  <br/>
  —Wikipedia</p>
{% endblock %}

{% block project_notes %}
  <p>Used unknown RAWs.</p>
{% endblock %}
