{% extends "project.html" %}
{% block project_title %}Attack No. 1 movies{% endblock %}
{% block project_status %}finished{% endblock %}
{% block project_release_filter %}Attack No. 1 - Movie{% endblock %}

{% block project_synopsis %}
  <p>Recap movies of Attack No. 1.</p>
{% endblock %}

{% block project_releases %}
  <p>Links to downloads removed from the website due to takedown request sent
  by TMS.</p>
{% endblock %}

{% block project_notes %}
  <p>Used Johnny's BD rips.</p>
{% endblock %}
