{% extends "project.html" %}
{% block project_title %}Corrector Yui 2{% endblock %}
{% block project_status %}ongoing{% endblock %}
{% block project_release_filter %}Corrector Yui 2{% endblock %}
{% block project_anidb_id %}3529{% endblock %}

{% block project_synopsis %}
  <p>Yui and the Correctors must fight with a mysterious virus who menaces the
  ComNet, and also cope with the mysterious Corrector Ai, a Corrector who tends
  to work on her own and seems to have her own agenda. The key to the mysteries
  seems to be a strange young girl who seems lost and may be related with the
  devastating virus appearances.<br/>
  —Wikipedia</p>
{% endblock %}

{% block project_notes %}
  <p>Used R-Raws' RAWs.</p>
  <p>The virus in the original name is called "Bugrus", a portmanteau of words
  "bug" and "virus". As this sounded too corny, we decided to go with the
  translation found on English Wikipedia – Beagle, which happens to be a name
  of <a href='https://en.wikipedia.org/wiki/Bagle_(computer_worm)'>a real
  computer worm</a>.</p>
{% endblock %}
