{% extends "project.html" %}
{% block project_title %}Corrector Yui 1{% endblock %}
{% block project_status %}finished{% endblock %}
{% block project_release_filter %}Corrector Yui 1{% endblock %}
{% block project_anidb_id %}3529{% endblock %}

{% block project_synopsis %}
  <p>Yui is an average schoolgirl who lives in a future where all computers are
  supported by a single global network known as ComNet. Yui is a
  computer-illiterate girl who after a computer-lab accident is approached by
  IR, a raccoon looking Corrector computer program, which tells her she must
  save ComNet. She must stop the rogue A.I. (Artificial Intelligence) computer
  program known as Grosser and his hench-programs from taking over the world.
  Grosser was originally designed to be that manager of all of ComNet. At first
  she's very reluctant to play the heroine because of her complete lack of
  knowledge and ability with computers. To save ComNet she must find and gain
  the trust of the other seven wayward Corrector programs. They must also find
  the creator of ComNet Professor Inukai, to help stop Grosser for good.<br/>
  —ANN</p>
{% endblock %}

{% block project_notes %}
  <p>Used R-Raws' RAWs.</p>
{% endblock %}
