{% extends "project.html" %}
{% block project_title %}Fables of the Green Forest{% endblock %}
{% block project_status %}ongoing{% endblock %}
{% block project_release_filter %}Fables{% endblock %}

{% block project_synopsis %}
  <p>The young woodchuck Rocky (Johnny in the books) leaves the nest to build a
  home of his own in the distant Green Forest. There, he meets a pretty girl
  woodchuck called Polly, and other characters like: curious Peter Rabbit, who
  is always scared easily, gossipy Sammy Jay, Chatterer the Red Squirrel, who
  is the forest prankster, wise Old Grandfather Frog, and many others like
  Bobby Raccoon, Jimmy Skunk, Buster Bear and Uncle Billy Possum. All strive to
  live in harmony and to avoid dangerous enemies like Reddy Fox, Mean Weasel,
  hawks or man. Fables of the Green Forest is an adaptation of several
  children’s books about animals, written mostly between 1910 and 1920 by
  American writer Thornton W. Burgess. The stories in these books were inspired
  by the writer’s own childhood in Massachusetts, where he grew up surrounded
  by nature and wildlife. This environment induced a conservationist spirit in
  the author, that is felt throughout his works, which were meant to both
  entertain as well as educate about the natural world that surrounds us. This
  love for nature is also very much present in the anime and the tone is quite
  similar. Noteworthy are the naturalistic descriptions of animal behavior (an
  example of this is the episode “Paddy Builds a Dream House” about the
  building skills of Paddy Beaver), the sense of community, the beautiful
  colors, and the lovely background music.
  —South Wind Subs</p>
{% endblock %}

{% block project_notes %}
  <p>Used mozzii2 bluray rips.</p>
{% endblock %}
