{% extends "project.html" %}
{% block project_title %}Ichigatsu ni wa Christmas{% endblock %}
{% block project_status %}finished{% endblock %}
{% block project_release_filter %}Ichigatsu ni wa Christmas{% endblock %}
{% block project_anidb_id %}2769{% endblock %}

{% block project_synopsis %}
  <p>This is a character study of a rather traumatized young woman who develops
  a crush on a man who lives next door to her.
  <br/>
  —The TechnoGirls</p>
{% endblock %}

{% block project_notes %}
  <p>Used unknown RAWs.</p>
{% endblock %}
