{% extends "project.html" %}
{% block project_title %}Jeanie with the<wbr/> Light Brown Hair{% endblock %}
{% block project_status %}ongoing{% endblock %}
{% block project_release_filter %}Jeanie{% endblock %}
{% block project_anidb_id %}3653{% endblock %}

{% block project_synopsis %}
<p>
  During the civil war a girl living in Virginia, named Jeanie, waits for her
  old boyfriend Robert to marry him, according to a childish promise. But the
  war makes the things complicated and Robert comes back as Northerner soldier.
  Only with the conflict's end and many misadventures their dream will become
  true.
  <br/>
  —MyAnimeList
</p>
{% endblock %}

{% block project_notes %}
  <p>
    Used R-Raws encodes.
  </p>
{% endblock %}
