{% extends "project.html" %}
{% block project_title %}Horror News{% endblock %}
{% block project_status %}finished{% endblock %}
{% block project_release_filter %}Horror News{% endblock %}

{% block project_synopsis %}
  <p>* Based on Tsunoda Jirou's classic horror manga.</p>
  <p>For reasons unknown to him, Rei receives every morning the Horror News,
  a newspaper which foresees deaths and catastrophes…
  <br/>
  —anidb</p>
{% endblock %}

{% block project_notes %}
  <p>Used own DVD rip. Release includes the live-action special.</p>
{% endblock %}
