{% extends "project.html" %}
{% block project_title %}Noroi no One Piece{% endblock %}
{% block project_status %}finished{% endblock %}
{% block project_release_filter %}Noroi no One Piece{% endblock %}

{% block project_synopsis %}
  <p>When three schoolgirls, Yuuko, Kaori and Michiyo, receive a mysterious
  package containing a beautiful dress with a floral pattern, they're
  overjoyed. It'll be their chance to shine in front of their love interests!
  However, little do they know that this sweet-looking gift might have been not
  so fortunate, after all…
</p>
{% endblock %}

{% block project_notes %}
  <p>
    Used R-Raws encodes.<br/>
    Initial subtitiles by Tougewolf_.
  </p>
{% endblock %}
