{% extends "project.html" %}
{% block project_title %}Paris no Isabelle{% endblock %}
{% block project_status %}finished{% endblock %}
{% block project_release_filter %}Paris no Isabelle{% endblock %}
{% block project_anidb_id %}3627{% endblock %}

{% block project_synopsis %}
  <p>The principal character is 15 year old Isabelle Rostain, other characters
  being her parents Léon and Marie, Isabelle's friends Jean and her sister
  Geneviève, and Isabelle's love interest, Captain Victor.</p>

  <p>When Paris is besieged and Napoleon III's army is defeated, Isabelle
  escapes to London, disguised as a boy, and engages in secret agent stuff.</p>

  <p>—ANN</p>
{% endblock %}

{% block project_notes %}
  <p>
    Used DVD encodes by R-Raws.
  </p>

  <p>
    For the old version 1 of the first episode used RAWs from karasu, donated by Johnny.
  </p>
{% endblock %}
