{% extends "project.html" %}
{% block project_title %}Paris no Isabelle{% endblock %}
{% block project_status %}ongoing{% endblock %}
{% block project_release_filter %}Paris no Isabelle{% endblock %}

{% block project_synopsis %}
  <p>The principal character is 15 year old Isabelle Laustin, other characters
  being her parents Leon and Marie, Isabelle's friends Jean and his sister
  Marie, and Isabelle's suitor, Captain Victor.</p>

  <p>When Paris is beseiged and Napoleon III's army is defeated, Isabelle
  escapes to London, disguised as a boy, and engages in secret agent stuff.</p>

  <p>—ANN</p>
{% endblock %}

{% block project_notes %}
  <p>Used RAWs from karasu.</p>
{% endblock %}
