{% extends "project.html" %}
{% block project_title %}Sequence{% endblock %}
{% block project_status %}finished{% endblock %}

{% block project_content %}
<p>Suffering from a crippling memory loss ever since an accident at the age of
six, Toshiaki finds new hope, and a new mystery, when he is visited by a girl
from his own future.
<br/>
—The Anime Encyclopedia</p>

<p><strong>Used Renascent's RAW.</strong></p>

<h2>Releases</h2>

{% import 'release-table.html' as release_table %}
{{ release_table.table(releases, 'Sequence') }}
{% endblock %}
