{% extends "project.html" %}
{% block project_title %}Sequence{% endblock %}
{% block project_status %}finished{% endblock %}
{% block project_release_filter %}Sequence{% endblock %}
{% block project_anidb_id %}5015{% endblock %}

{% block project_synopsis %}
  <p>Suffering from a crippling memory loss ever since an accident at the age
  of six, Toshiaki finds new hope, and a new mystery, when he is visited by a
  girl from his own future.
  <br/>
  —The Anime Encyclopedia</p>
{% endblock %}

{% block project_notes %}
  <p>Used Renascent's RAW.</p>
{% endblock %}
