{% extends "project.html" %}
{% block project_title %}Umi no Yami, Tsuki no Kage{% endblock %}
{% block project_status %}finished{% endblock %}
{% block project_release_filter %}Umi no Yami{% endblock %}
{% block project_anidb_id %}4730{% endblock %}

{% block project_synopsis %}
  <p>Ruka and Rumi Kobayakawa are twin sisters in love with the same man,
  athletic upperclassman Katsuyuki Touma. Rumi seems supportive of Ruka's
  fledgling romance with Katsuyuki, until the twins are infected with a strange
  bacterium that transforms Rumi's personality and gifts the twins with
  terrifying psychic powers. Now Rumi will stop at nothing - or no one, that
  gets between her and Katsuyuki, including her own twin sister…
  <br/>
  —ANN</p>
{% endblock %}

{% block project_notes %}
  <p>Used R-Raws' RAWs for the main OVA and ARR RAW for the special.</p>
{% endblock %}
