{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}
<h1>About</h1>

<p>Founded in 2017 for the purpose of subbing "Attack no. 1", the group is only
starting out. After we finish our first series, in the future we might possibly
sub others. Our focus is on the series that have slight chances of being picked
up by other groups. We favor quality over speed.</p>

<h1>Members</h1>
<ul>
    <li>
        <strong>rr-</strong>
        <img src='img/icon_pl.gif' alt='Poland'/>
        <br/>
        (translation, timing, typesetting, karaoke, muxing, website)
    </li>
    <li>
        <strong>kropiciel</strong>
        <img src='img/icon_pl.gif' alt='Poland'/>
        <br/>
        (translation assistance)
    </li>
</ul>

<p>As you can see in the notice at the top of the site, we're short on members
- we need a quality checker.</p>

<h1>Contact</h1>

<p>Our IRC channel is #old-castle on Rizon.<br/>
You can also reach us via e-mail: rr-@sakuya.pl.</p>

{% endblock %}
