{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block id %}about{% endblock %}
{% block content %}
<h1>About us</h1>

<p>Founded in 2017 for the purpose of subbing "Attack no. 1", the group is only
starting out. After we finish our first series, in the future we might possibly
sub others. Our focus is on the series that have slight chances of being picked
up by other groups. We favor quality over speed.</p>

<h2>Members</h2>

<table>
    <tr>
        <td><img class='flag'  src='img/icon_pl.gif' alt='Poland'/></td>
        <td><strong>rr-</strong></td>
        <td>translation, timing, typesetting, karaoke, muxing, website</td>
    </tr>
    <tr>
        <td><img class='flag' src='img/icon_pl.gif' alt='Poland'/></td>
        <td><strong>kropiciel</strong></td>
        <td>Japanese translation assistance</td>
    </tr>
    <tr>
        <td><img class='flag' src='img/icon_us.gif' alt='United States'/></td>
        <td><strong>BlackRose108</strong></td>
        <td>English editor, quality checking</td>
    </tr>
</table>

<h2>Random info</h2>

<p>CRC32 checksums of our releases (with the exception of historical releases) should hash to checksums in form of <code>XXXXYZZZ</code>:</p>
<table>
<tr><td><code>XXXX</code></td><td>upper 16 bits of a XOR sum of video, subtitles, chapters and fonts CRC32 checksums</td></tr>
<tr><td><code>Y</code></td><td>release version</td></tr>
<tr><td><code>ZZZ</code></td><td>episode number</td></tr>
</table>

<h2>Contact</h2>

<p>Our IRC channel is #old-castle on Rizon.<br/>
You can also reach us via e-mail: contact@oldcastle.moe.</p>

<h2>Bonus</h2>

<p><a href='featured.html'>Previously featured images</a></p>

{% endblock %}
