{% extends "base.html" %}
{% block title %}Recruitment{% endblock %}
{% block id %}recruitment{% endblock %}
{% block content %}
<h1>Recruitment</h1>

<p>We're good with timing, translation and styling. Below are listed current open positions.</p>

<h2>Japanese translation checker</h2>

<p>We expect the candidates to have good command of Japanese (JLPT N1-N2 level or a native).</p>

<p>Responsibilities:</p>

<ul>
    <li>Spotting and fixing bad translations (we do an internal audio transcription of each episode so it should be a little easier)</li>
    <li>Spotting and fixing mismatched words<br/><small>Example: "会談" vs. "怪談"</small></li>
    <li>Spotting and fixing misheard syllables<br/><small>Example: "勝つ" vs. "立つ"</small></li>
    <li>Filling in the blanks in the transcriptions<br/><small>Example: "そしてついにXXXは爆発した。"</small></li>
</ul>

<hr/>

<p>Contact information can be found at the bottom of the "about" page.</p>

{% endblock %}
