{% extends "base.html" %}
{% block title %}Recruitment{% endblock %}
{% block id %}recruitment{% endblock %}
{% block content %}
<h1>Recruitment</h1>

<p>We're good with timing, translation and styling. Below are listed current open positions.</p>

<h2>English translation checker</h2>

<p>We expect the candidates to have excellent command of English (CEFR C1-C2 level or a native).</p>

<p>Responsibilities:</p>

<ul>
    <li>Spotting and fixing obvious mistakes<br/><small>Example: "didn't saw", "you has"</small></li>
    <li>Spotting and fixing invalid usage of definite and indefinite particles<br/><small>Example: "play the volleyball" vs. "play volleyball"</small></li>
    <li>Spotting and fixing invalid usage of grammar tenses<br/><small>Example: "what has been happening" vs. "what was happening"</small></li>
    <li>Spotting and fixing butchered idioms<br/><small>Example: "picking up a fight" vs. "picking a fight"</small></li>
    <li>Suggesting more natural expressions<br/><small>Example: "I have another objective" vs. "I'm aiming for something else"</small></li>
    <li>etc.</li>
</ul>

<h2>Japanese translation checker</h2>

<p>We expect the candidates to have good command of Japanese (JLPT N1-N2 level or a native).</p>

<p>Responsibilities:</p>

<ul>
    <li>Spotting and fixing bad translations (we do an internal audio transcription of each episode so it should be a little easier)</li>
    <li>Spotting and fixing mismatched words<br/><small>Example: "会談" vs. "怪談"</small></li>
    <li>Spotting and fixing misheard syllables<br/><small>Example: "勝つ" vs. "立つ"</small></li>
    <li>Filling in the blanks in the transcriptions<br/><small>Example: "そしてついにXXXは爆発した。"</small></li>
</ul>

<hr/>

<p>Contact information can be found at the bottom of the "about" page.</p>

{% endblock %}
