{% extends "base.html" %}
{% block title %}Recruitment{% endblock %}
{% block id %}recruitment{% endblock %}
{% block content %}
<h1>Recruitment</h1>

<p>We're good with timing, translation and styling. We're looking for an editor
that'd make the subtitles look good to native English speakers.</p>

<p>Requirements:</p>

<ul>
    <li>Excellent command of the English language</li>
    <li>
        Good availability, i.e. capability to process 1 to 2 episodes a week,
        which is equivalent to around 800-1000 dialog lines
    </li>
    <li>Passion for old anime :)</li>
</ul>

<p>Responsibilities:</p>

<ul>
    <li>Spotting and fixing mistakes (especially grammatical tenses and particles)</li>
    <li>Spotting and fixing butchered idioms</li>
    <li>
        Changing very repetitive phrases such as "do your best", "what are you
        saying?" to something less dull
    </li>
    <li>Making speech more natural</li>
    <li>Enriching vocabulary</li>
</ul>

<p>Communication happens via e-mail or IRC.<br/>
You won't need to install anything to edit the subs.</p>

<p>If you're interested, you can drop by our IRC channel (#old-castle on Rizon)
or contact us via e-mail: contact@oldcastle.</p>
{% endblock %}
