{% extends "base.html" %}
{% block title %}News{% endblock %}
{% block id %}news{% endblock %}
{% block content %}

{% for entry in news %}
    <div class='news'>
        <div class='date'>
            {{ entry.date.strftime('%A, %d %b %Y') }}
        </div>
        <div class='title'>
            <a href='{{ entry.url }}'>{{ entry.title }}</a>
        </div>

        {{ entry.content }}

        <p><a data-disqus-identifier='{{ entry.url }}' href='{{ entry.url }}?#disqus_thread'>Comments</a></p>
        <div class='clear'></div>
    </div>
{% endfor %}

<script id='dsq-count-scr' src='https://old-castle-fansubs.disqus.com/count.js' async></script>

{% endblock %}
