{% extends "base.html" %}
{% block title %}News{% endblock %}
{% block id %}news{% endblock %}
{% block content %}

{% for entry in news %}
    <div class='news'>
        <div class='date'>
            {{ entry.date.strftime('%A, %d %b %Y') }}
        </div>
        <div class='title'>
            <a href='{{ entry.url }}'>{{ entry.title }}</a>
        </div>

        {{ entry.content }}

        <p><a href='{{ entry.url }}#isso-thread'>Comments</a></p>
        <div class='clear'></div>
    </div>
{% endfor %}

<script data-isso='https://comments.oldcastle.moe/' src='https://comments.oldcastle.moe/js/count.min.js'></script>

{% endblock %}
