{% extends "base.html" %}
{% block id %}news{% endblock %}
{% block content %}
<div class='news'>
    <div class='date'>
        {{ entry.date.strftime('%A, %d %b %Y') }}
    </div>
    <div class='title'>
        <a href='{{ entry.url }}'>{{ entry.title }}</a>
    </div>

    {{ entry.content }}
    <div class='clear'></div>
</div>

<script
    data-isso='https://comments.oldcastle.moe/'
    data-isso-require-author="true"
    data-isso-css="false"
    src='https://comments.oldcastle.moe/js/embed.min.js'></script>
<section id='isso-thread'></section>

{% endblock %}
