{% extends "base.html" %}
{% block title %}Releases{% endblock %}
{% block id %}releases{% endblock %}
{% block content %}

<h1>Releases</h1>

<h2>Attack no. 1</h2>

<table>
    <thead>
        <tr>
            <th>Episode</th>
            <th>Title</th>
            <th>Link</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>001</td>
            <td>Fujimi Academy's New Star</td>
            <td><a href='https://nyaa.si/view/930344'>nyaa.si</a></td>
        </tr>
    </tbody>
</table>

{% endblock %}
