{% macro table(releases, filter) %}
<table class='fancy releases'>
    <thead>
        <tr>
            <th class='date'>Date</th>
            <th class='file'>File</th>
            <th class='links' colspan='2'>Links</th>
        </tr>
    </thead>
    <tbody>
    {% set filtered_releases = releases|rejectattr("is_hidden")|selectattr("file_name", "match", filter)|list %}
    {% for release in filtered_releases %}
        <tr>
            <td class='date'>{{ release.date.strftime('%Y-%m-%d') }}</td>
            <td class='file'>{{ release.file_name }}
                {% if release.file_version > 1 %}
                    (v{{ release.file_version }})
                {% endif %}
            </td>
            <td class='link nyaa'>
            {% for link in release.links %}
                {% if 'nyaa.si' in link %}
                    <a href='{{ link }}'>nyaa.si</a>
                {% endif %}
            {% endfor %}
            </td>
            <td class='link nyaa'>
            {% for link in release.links %}
                {% if 'anidex' in link %}
                    <a href='{{ link }}'>anidex</a>
                {% endif %}
            {% endfor %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<script>
    function previousElementSibling(element) {
        var ret = element.previousSibling;
        while (ret && ret.nodeType !== 1) {
            ret = ret.previousSibling;
        }
        return ret;
    }

    function groupLinks(table) {
        table.querySelectorAll('td.link').forEach(function(elem, i) {
            var col = Array.prototype.indexOf.call(elem.parentNode.children, elem);
            var html = elem.innerHTML;
            var span = 1;
            var rowAbove = previousElementSibling(elem.parentNode);
            if (!rowAbove) {
                return;
            }
            var cellAbove = rowAbove.children[col];

            while (cellAbove && cellAbove.innerHTML === html) {
                span++;
                cellAboveOld = cellAbove;
                rowAbove = previousElementSibling(cellAbove.parentNode);
                cellAbove = rowAbove ? rowAbove.children[col] : null;
            }

            if (span > 1) {
                cellAboveOld.setAttribute('rowspan', span);
                cellAboveOld.classList.toggle("batch", !!html.trim());
                cellAboveOld.classList.toggle("unavailable", !html.trim());
                elem.style.display = 'none';
            }
        });
    }

    groupLinks(document.getElementsByTagName('table')[0]);
</script>
{% endmacro %}
