{% extends "base.html" %}
{% block title %}Releases{% endblock %}
{% block id %}releases{% endblock %}
{% block content %}

<h1>Releases</h1>

{% for release in releases %}
    <div class='release'>
        <h2>{{ release.title }}</h2>

        <img src='img/releases/{{ release.image }}' alt='{{ release.title }}'/>

        <p class='description'>{{ release.description }}</p>

        <table>
            <thead>
                <tr>
                    <th class='episode'>Episode</th>
                    <th class='title'>Title</th>
                    <th class='version'><abbr title='Version'>Version</abbr></th>
                    <th class='links'>Link</th>
                </tr>
            </thead>
            <tbody>
                {% for episode in release.episodes %}
                    <tr>
                        <td class='episode'>{{ episode.episode }}</td>
                        <td class='title'>{{ episode.title }}</td>
                        <td class='version'>{{ episode.version }}</td>
                        <td class='links'>
                            {% for link in episode.links %}
                                <a href='{{ link }}'>
                                    {% if 'nyaa.si' in link %}
                                        nyaa.si
                                    {% elif 'anidex' in link %}
                                        anidex
                                    {% else %}
                                        ?
                                    {% endif %}
                                </a>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endfor %}

{% endblock %}
