{% extends "base.html" %}
{% block title %}Releases{% endblock %}
{% block id %}releases{% endblock %}
{% block content %}

<h1>Releases</h1>

<div class='series'>
    <h2>Attack no. 1</h2>

    <img src='img/releases/attack_no_1.jpg' alt='Attack no. 1'/>

    <p class='description'>The story is about Ayuhara Kozue, a 12-year-old girl
    who transferred to Fujimi College and tried out for the school volleyball
    team. She develops a friendship with her teammate Hayakawa Midori, and her
    talents impress coach Hongou more and more each day. Kozue discovers that
    being at the top would bring stress, incompatibilities and other dilemmas
    into her life. Her high expectations of becoming the best volleyball player
    in the school, Japan and eventually the world, set the tone for the drama
    to follow.
    <br/>
    —Wikipedia</p>

    <table>
        <thead>
            <tr>
                <th>Episode</th>
                <th>Title</th>
                <th>Link</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>001</td>
                <td>Fujimi Academy's new star</td>
                <td>
                    <a href='https://nyaa.si/view/932047'>v2</a>
                    <s><a href='https://nyaa.si/view/930344'>v1</a></s>
                </td>
            </tr>
            <tr>
                <td>002</td>
                <td>The gamble for tomorrow</td>
                <td><a href='https://nyaa.si/view/932050'>v1</a></td>
            </tr>
            <tr>
                <td>003</td>
                <td>New captain arrives!</td>
                <td><a href='https://nyaa.si/view/933807'>v1</a></td>
            </tr>
            <tr>
                <td>004</td>
                <td>Ball torn to pieces</td>
                <td><a href='https://nyaa.si/view/935567'>v1</a></td>
            </tr>
            <tr>
                <td>005</td>
                <td>Demon coach's challenge</td>
                <td><a href='https://nyaa.si/view/937484'>v1</a></td>
            </tr>
            <tr>
                <td>006</td>
                <td>Make it through! Attack duo</td>
                <td><a href='https://nyaa.si/view/939680'>v1</a></td>
            </tr>
            <tr>
                <td>007</td>
                <td>Meeting The Big Four</td>
                <td><a href='https://nyaa.si/view/941917'>v1</a></td>
            </tr>
            <tr>
                <td>008</td>
                <td>The secret behind "falling leaf"</td>
                <td><a href='https://nyaa.si/view/944639'>v1</a></td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}
