@import url('https://fonts.googleapis.com/css?family=New+Rocker|Pirata+One|Roboto|UnifrakturCook:700');
@import url('comments.css');

:root {
  --background-color: #BED9F7;
  --text-color: black;
  --link-text-color: blue;
  --visited-link-text-color: purple;
  --hovered-link-text-color: green;
  --input-background-color: white;
  --input-border-color: rgba(0, 0, 0, 0.3);
  --button-background-color: silver;
  --blockquote-border-color: rgba(128, 128, 128, 0.4);
  --blockquote-background-color: rgba(128, 128, 128, 0.1);
}

body {
  overflow-y: scroll;
  background-color: var(--background-color);
  background-image:  url('../img/blue.jpg');
  background-attachment: fixed;
  background-position: top center;
  background-size: cover;
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
  font-size: 13pt;
  line-height: 16.5pt;
}
main {
  width: 40em;
  margin: 1em auto 5em auto;
  text-align: left;
}
.clear {
  clear: both;
}

a {
  color: var(--link-text-color);
}
a:visited {
  color: var(--visited-link-text-color);
}
a:hover {
  color: var(--hovered-link-text-color);
}

#top-header {
  margin: 1.5em auto 0 auto;
  text-align: center;
}
#top-header h1 {
  font-family: 'UnifrakturCook', cursive;
  margin: 0;
  font-size: 40pt;
  line-height: 30pt;
}
#top-header h1 a {
  color: var(--text-color);
  text-decoration: none;
}

#top-nav {
  width: 100%;
  margin-top: 1em;
}
#top-nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}
#top-nav ul li {
  display: inline-block;
  flex-grow: 1;
  white-space: nowrap;
}
#top-nav ul li:not(:first-child) {
  margin-left: 0;
}
#top-nav ul li a {
  display: block;
  padding: 0.2em 0.5em;
  border-top: 3px solid rgba(190, 190, 190, 0.8);
  border-left: 3px solid rgba(190, 190, 190, 0.8);
  border-bottom: 3px solid rgba(0, 0, 0, 0.5);
  border-right: 3px solid rgba(0, 0, 0, 0.5);
  background: dimgrey url('../img/stone.jpg');
  font-family: 'Pirata One', cursive;
  font-size: 20pt;
  line-height: 16pt;
  color: rgba(255, 255, 255, 0.7);
  text-shadow: -1px -1px black, 0 0 0.3em black;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}
#top-nav ul li a:active {
  border-style: inset;
}

#body {
  padding-top: 1.5em;
}
#body h1 {
  font-size: 16pt;
}
#body h2 {
  font-size: 100%;
}
#body>*:first-child {
  margin-top: 0;
}
#body>*:last-child {
  margin-bottom: 0;
}

#body li {
  margin-bottom: 0.5em;
}

.fancy-title {
  text-align: center;
}

.news {
  margin: 2em 0;
}
.news .date {
  font-size: 10pt;
  text-align: center;
  margin-bottom: 1em;
  margin-top: -0.75em;
  opacity: 0.5;
}


.news img {
  max-width: 100%;
}

hr {
  width: 100%;
  height: 1px;
  background: var(--text-color);
  border: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}
table th,
table td {
  padding: 0.2em 0.5em;
}
table.fancy thead tr {
  background: rgba(0,0,0,0.2);
}
table.fancy th,
table.fancy td {
  border: 1px solid var(--text-color);
}

table.releases {
  font-size: 80%;
  margin-bottom: 3em;
}
table.releases td {
vertical-align: top;
}
table.releases .date,
table.releases .link,
table.releases .links {
  text-align: center;
}
table.releases .date {
  white-space: nowrap;
}
table.releases .file {
  width: 100%;
}
table.releases td.link.batch {
background: rgba(0,200,0,0.2);
}
table.releases td.link.batch:after {
  content: '(batch)';
}
table.releases td.link.unavailable {
background: rgba(150,150,150,0.2);
}
table.releases td.link.unavailable:after {
  content: '—';
}

.split {
  display: flex;
}
.split figure {
  width: 50%;
  margin: 0.5em;
  padding: 0;
  text-align: center;
}

li p,
li ul,
li ol {
  margin: 0 0 0.5em 0;
}

figure {
  margin: 0;
  text-align: center;
}
figure img {
  width: 75%;
  margin: 0 auto;
}
figure.small img {
  width: 50%;
}
figure figcaption {
  font-style: italic;
}
figure.left {
  float: left;
  margin-right: 1em;
  width: 25%;
}
figure.left img {
  width: 100%;
}

img.flag {
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.15);
  width: 24px;
  height: 18px;
  vertical-align: bottom;
}

#about h2 small {
  font-weight: normal;
}
#about h2 {
  margin-top: 2em;
}
#about td.flag {
  padding-right: 0;
}
#about td.name {
  width: 25%;
}
#about td.desc {
  width: 75%;
}

#featured-images table tr:first-of-type td {
  padding-top: 0;
}
#featured-images table tr:last-of-type td {
  padding-top: 0;
}
#featured-images table td:first-child {
  padding-left: 0;
}
#featured-images table td:last-child {
  padding-right: 0;
}
#featured-images table td {
  text-align: center;
  width: 33%;
  padding: 0.5em;
}
#featured-images table td img {
  max-width: 100%;
  margin: 0;
}

#home main {
  text-align: center;
}
#home #featured-image {
  display: inline-block;
}
#home #top-nav {
  display: none;
}
#home #featured {
  margin: 0 auto;
  display: inline-block;
  max-width: 100%;
  max-height: 40em;
}

#projects #body {
  text-align: center;
}
#projects #body a {
  display: inline-block;
}
#projects #body ul {
  list-style-type: none;
  margin: 1em 0 2em 0;
  padding: 0;
}
#projects #body li {
  margin: 0 1em 1em 0;
  padding: 0;
  display: inline-block;
  text-align: center;
  width: 12em;
  vertical-align: top;
}
#projects #body .cover {
  display: inline-block;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  line-height: 0;
}
#projects #body .cover>div {
  display: inline-block;
  width: 12em;
  height: 8em;
  border-top: 5px solid rgba(255, 255, 255, 0.5);
  border-left: 5px solid rgba(255, 255, 255, 0.5);
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
  border-right: 5px solid rgba(0, 0, 0, 0.5);
}

#project #project-wrapper {
  display: flex;
}
#project #project-aside {
  text-align: center;
  flex: 1;
  margin-right: 1em;
}
#project #project-aside img {
  max-width: 100%;
}
#project #project-synopsis {
  flex: 2;
}
#project #project-synopsis p:first-of-type {
  margin-top: 0;
}

#thread.loading:before {
  content: 'Loading comments…';
}

textarea, input, button {
  font-family: 'Roboto', sans-serif;
  font-size: 12pt;
  line-height: 15pt;
  box-sizing: border-box;
  padding: 0.3em 0.5em;
}

textarea,
input {
  background-color: var(--input-background-color);
  color: var(--text-color);
  outline: 0;
  border: 2px solid var(--input-border-color);
}
button {
  background: var(--button-background-color);
  border: 2px solid var(--input-border-color);
}

textarea {
  width: 100%;
  min-height: 10em;
  margin: 0 0 0.25em 0;
}

textarea:focus,
input:focus {
  border-color: var(--hovered-link-text-color);
}

#requests table th:nth-child(2),
#requests table td:nth-child(2),
#requests table th:nth-child(3),
#requests table td:nth-child(3) {
  white-space: nowrap;
  font-size: smaller;
}

#about #friends {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 0;
}
#about #friends li {
  display: inline-block;
  margin: 0 10px 0 0;
  padding: 0;
}
#about #friends a {
  display: inline-block;
  margin: 0;
  padding: 0;
}
