{% extends "news_item.html" %}
{% block date %}2017-09-02{% endblock %}
{% block title %}Site changes{% endblock %}
{% block author %}rr-{% endblock %}

{% block news_content %}
<p>We found some time to show our website the love it needed. We tried to make
it more fun by:</p>

<ul>
    <li>adding a calming blue background</li>
    <li>removing other backgrounds and borders altogether</li>
    <li>improving button appearance</li>
    <li>making the top more lightweight</li>
</ul>

<p><em>(If the site looks glitched, please use Ctrl+F5 to reload it.)</em></p>

<p>The comment system didn't go untouched as well. We decided to replace Disqus
with <a href='https://posativ.org/isso/'>isso</a> for the following
reasons:</p>

<ul>
    <li>it looks better</li>
    <li>it doesn't track our visitors</li>
</ul>

<p>We've also introduced a guest book :)</p>
{% endblock %}
