{% extends "news_item.html" %}
{% block news_date %}2017-09-30{% endblock %}
{% block news_title %}Anidex support{% endblock %}
{% block news_author %}rr-{% endblock %}

{% block news_content %}
<p>Thanks to a suggestion, we'll be uploading our releases not only to <a
href='https://nyaa.si'>nyaa.si</a>, but also to <a
href='https://anidex.info'>anidex</a>. We'll see how this plays out.</p>

<figure class='small'>
  <img src='{{ url_for('static', filename='img/news/0007.jpg') }}'/>
</figure>
{% endblock %}
