{% extends "news_item.html" %}
{% block news_date %}2017-11-03{% endblock %}
{% block news_title %}Monster Hunter Stories{% endblock %}
{% block news_author %}rr-{% endblock %}

{% block news_content %}
<p>As some of you may have already noticed we've picked up "Monster Hunter
Stories: Ride On" season 2, which Crunchyroll stopped releasing due to
licensing issues. So far we've released 7 episodes.</p>

<figure>
    <img src='img/news/0008.jpg'/>
    <figcaption>She needs those subs!</figcaption>
</figure>

<p>We don't have any particular release schedule for this show. We'll try to
release each episode as soon as we can, but please be advised that we're
nothing like modern fansubbers who release within hours after airing. Please
expect delays.</p>

<p>We thank <strong>DranzerX13</strong> for providing high quality RAWs.</p>
{% endblock %}
