{% extends "news_item.html" %}
{% block news_date %}2017-12-02{% endblock %}
{% block news_title %}Changes to website structure{% endblock %}
{% block news_author %}rr-{% endblock %}

{% block news_content %}
<p>This has been on my mind for a while and I finally got down to it.</p>

<p>List of things that were changed:</p>

<ul>
  <li>
    Removed news about releases
    <br/>
    Most of the news about releases didn't contain any substantial info other than a nice image.
    Info about releases was moved to its own "releases" section (read below).
  </li>
  <li>
    Introduced splash page
    <br/>
    I really like images and I'd like to be able to put up a kind of a "featured image" once in a while. The splash page is a nice place for it now that release-type news are gone.
    I know this is an extra click for the visitors, but some might enjoy these pictures like I do, plus people that actually are interested in some fansubbers' website will probably poke around it anyway – an extra click shouldn't bother them too much.
  </li>
  <li>
    Moved most news comments to guest book
    <br/>
    I decided to simplify things and let the users comment in a single place (the guest book) rather than all over the place.
    I believe our website is small enough that it is a change for the better in terms of user experience.
  </li>
  <li>
    Revamped "releases" section; introduced "anime" section
    <br/>
    Prior to the changes, the "releases" section was a list of anime, each of which had a huge table with episodes under it.
    Now each anime has its own page and can be accessed from a new "anime" section.
    The "releases" section was retained, but contains only plain list of all files we released sorted by release date.
    <br/>
    I believe this is the best of two worlds: people interested in only one show can bookmark the page with that show, whereas the rest can check the "releases" page.
  </li>
</ul>

<p>If the website looks wrong, please try reloading it with Ctrl+F5.</p>
{% endblock %}
