{% extends "news_item.html" %}
{% block news_date %}2018-09-26{% endblock %}
{% block news_title %}Gravatars{% endblock %}
{% block news_author %}rr-{% endblock %}

{% block news_content %}
<figure class='small'>
  <img src='img/news/0014.jpg'/>
</figure>

<p>We've added Gravatar support to our guest book. It uses nicknames
when no e-mail is provided, which makes it easier to tell people apart just
with a quick glance.</p>

<p><small>If the page looks weird, please reload it with <kbd>Ctrl+F5</kbd>
:)</small></p>
{% endblock %}
