{% extends "news_item.html" %}
{% block news_date %}2018-12-30{% endblock %}
{% block news_title %}End of the year update{% endblock %}
{% block news_author %}rr-{% endblock %}

{% block news_content %}
<p>Yesterday we've switched to a cheaper service. The short downtime of the
guestbook was caused by server migration. We've managed to reduce server costs
more than threefold, from about 450 EUR a year to 120 EUR a year, at the
expense of having the bandwidth reduced from 1&nbsp;Gbps to 100&nbsp;Mbps.
I don't think it ultimately matters much from the perspective of a seedbox,
maybe it'll take a few more minutes to download new episodes.</p>

<p>We had also finished Glass Mask recently. Unfortunately, episodes 17-23 are
missing corrections from our editor, who can't work on it at the time. We'd
like to release a batch eventually, but we'd also like to have his edits in it.
If we don't get this sorted out in time, we'll release the batch as is.</p>

<p>This brings us to what we should sub next!</p>

<figure class='small'>
  <img src='{{ url_for('static', filename='img/news/0015.jpg') }}'/>
</figure>

<p>Before we get to requests from the guest book, we have already started two
projects back in 2017 that we were unable to work on because of Glass Mask and
AN1. We'd like to finish these projects first. Both are around 25 episodes
long. We might make an exception for some short OVA, but no promises.</p>

<p>We'd rather not announce the projects officially just yet – I'd like to
translate a few episodes more to make sure I can translate the whole thing
before we start with the releases :)</p>

<p>Anyway, below we have compiled a list of requests so far. If your request is
missing from this list, please let us know in the guest book. Please note that
we don't commit to anything, but we'll definitely consider titles mentioned
here when we find the time.</p>

<ul>
  <li>Ace wo Nerae!</li>
  <li>Animal 1</li>
  <li>Ashita e Attack</li>
  <li>Attacker You!</li>
  <li>Captain Tsubasa J</li>
  <li>Cinderella Monogatari</li>
  <li>Coji-Coji</li>
  <li>Corrector Yui</li>
  <li>Cutey Honey Flash</li>
  <li>Fighting Beauty Wulong</li>
  <li>Fighting Beauty Wulong Rebirth</li>
  <li>High School Aurabuster</li>
  <li>Highschool Kimengumi</li>
  <li>Ichigatsu ni wa Christmas</li>
  <li>Joou Heika no Petite Angie</li>
  <li>Kyojin no Hoshi</li>
  <li>Lady Georgie</li>
  <li>Mahou no Mako Chan</li>
  <li>Nobara no Julie</li>
  <li>Onegai! Samia-Don</li>
  <li>Paris no Isabelle</li>
  <li>Sally the Witch</li>
  <li>Samurai Giants</li>
  <li>Shirayuki Hime no Densetsu</li>
  <li>Shounan Bakusouzoku</li>
  <li>Tanoshii Muumin Ikka</li>
  <li>Tiger Mask</li>
  <li>Umi no Yami Tsuki no Kage</li>
  <li>Zambot 3</li>
</ul>
{% endblock %}
