{% extends "news_item.html" %}
{% block news_date %}2019-01-26{% endblock %}
{% block news_title %}Our next project{% endblock %}
{% block news_author %}rr-{% endblock %}

{% block news_content %}
<p>First of all, we'd like to thank you so much for all of the requests! It's
amazing to know that there are still so many gems not known to the Western
world. We're definitely going to take a close look at some titles from that
list :)</p>

<p>As we said in previous news, in our next project we wanted to finish the
work we had started all the way back in 2017. The show is…</p>

<figure class='small'>
    <img src='img/news/0017.jpg'/>
</figure>

<p>…<strong>Sasurai no Taiyou / Wandering Sun</strong> (which incidentally did
appear in one of the requests). Here's an excerpt about it from
<a href='https://en.wikipedia.org/wiki/Wandering_Sun'>Wikipedia</a>:</p>

<blockquote>
<p>Wandering Sun tells the story of two girls switched at birth by the nurse
Michiko, out of a grudge against the parents of one of the newborns. Miki was
born in the poor Mine family but is switched into the rich Kouda clan, and
Nozomi the opposite. Fate cannot separate the two girls who compete to become
successful singers after meeting at high school, with the girl-next-door Nozomi
working hard and on her own to be the best pop singer in Japan and the rich
girl Miki using her family's status to reach the same goal.</p>

<p>This series was itself a ground-breaker in that it was perhaps the first
anime series to depict the entertainment industry—specifically popular
music, which would be a major plot point in many anime to come from Creamy
Mami to Perfect Blue. The voice actress for Nozomi Mine, Junko Fujiyama, was an
actual singer who used the series as a launching pad for her own real-life
singing career, releasing several singles while the series was still on the
air. As a bonus, Nozomi's character design was modeled after another enka
singer named Keiko Fuji, who would later be the mother of Hikaru Utada.</p>
</blockquote>

<p>After this project, we'd like to sub <strong>Ashita e Attack! / Attack on
Tomorrow</strong> (unless someone else starts to work on it in the
meantime).</p>
{% endblock %}
