{% extends "news_item.html" %}
{% block news_date %}2019-06-04{% endblock %}
{% block news_title %}Good bye, Attack No. 1{% endblock %}
{% block news_author %}rr-{% endblock %}

{% block news_content %}

<figure class='small'>
  <img src='img/news/0019a.jpg'/>
</figure>

<p>It all started on a sunny day almost two years ago. June 19, 2017. That was
the day when we released our first episode, bewildered that we are actually
doing anime fansubs for something that was never translated to English. And
now… it's over. The series the group was founded for is finally finished, after
around 104 weeks.</p>

<p>It also concludes a certain period. During those two years we have improved
our technique in every area: timing is now aligned to video frames and
keyframes/scene changes, we have optimized the line breaks and improved our
punctuation, the translator no longer translates every "fufu" and "hehe", our
translations are hopefully more creative. Naturally, not everything is yet
perfect&nbsp;&ndash; for instance, the choice whether to use
<span style="white-space: nowrap">"-san"</span>&nbsp;/
<span style="white-space: nowrap">"-kun"</span> or
to go with Mr./Mrs. is as tough as it has always been. However, we notice a lot
more than we used to, and we have faith that we deliver subtitles of better
quality now.</p>

<p>Keeping that in mind, it was really tempting to redo the quality check for
the entire series, to deliver the best content we possibly can. But considering
that it would take a good chunk of time (100+ hours) and there are other
exciting projects for us to take on, not to mention that we still surely would
not catch everything, we decided against this and released the series as is,
only bundling some small corrections that were applied to almost every episode
after their respective releases. We leave further improvements to other groups
:)</p>

<p>We would also like to thank everyone who has been supporting us. You people…
are amazing. Some of you have been with us since our very first day. There was
hardly any release on nyaa that went without comments expressing gratitude and
support. Please know that it means a lot and your support is a source of great
motivation for us.</p>

<p>Thank you so much.</p>

<figure class='small'>
  <img src='img/news/0019b.jpg'/>
</figure>

<p>Our adventure with Kozue and Midori is not quite over yet, though! We still
have four recap movies to release, using the raws provided by Johnny (thanks!).
Unfortunately, the BD box releases are of very poor quality, so please don't
get your hopes up too high.</p>

<p>Other than that, we are going to announce our next project soon, so stay
tuned! :)</p>

{% endblock %}
