{% extends "news_item.html" %}
{% block news_date %}2019-06-25{% endblock %}
{% block news_title %}Of dogs and hills{% endblock %}
{% block news_author %}rr-{% endblock %}

{% block news_content %}

<figure class='small'>
    <img src='img/news/0020.jpg'/>
</figure>

<p>With the last Attack No. 1 movie around the corner, it is time to announce
our next project! We will be doing a joint work with <a
href="https://southwindsubs.wordpress.com/">South Wind Subs</a> on a World
Masterpiece Theater title "Meiken Lassie". It's a sweet series that is loosely
based on "Lassie Come-Home" by Eric Mowbray Knight. We hope that you'll enjoy
it :)</p>

{% endblock %}
