{% extends "news_item.html" %}
{% block news_date %}2019-06-30{% endblock %}
{% block news_title %}A small bonus{% endblock %}
{% block news_author %}rr-{% endblock %}

{% block news_content %}

<p>So the last Attack No. 1 recap movie is out, which ultimately concludes our
journey with this great series. There's one final thing we'd like to share with
you, though! We found some silly Attack No. 1-themed commercials on the web and
decided to translate them and put them here. They're very cringy – you have
been warned :D</p>

<p>Oh, one more thing: we'll be doing a mini non-translation side project –
a Bluray release for Saint Tail. We'll retime and style the existing subtitles
and fix any typos along the way. (This won't impede our work on Lassie.)</p>

<figure class='small'>
  <p><small>(click on the thumbnail to play the video)</small></p>
  <a href='{{ url_for('static', filename='data/an1_cm1.webm') }}'>
    <img src='{{ url_for('static', filename='img/news/0021_cm1.jpg') }}'/>
  </a>

  <a href='{{ url_for('static', filename='data/an1_cm2.webm') }}'>
    <img src='{{ url_for('static', filename='img/news/0021_cm2.jpg') }}'/>
  </a>

  <a href='{{ url_for('static', filename='data/an1_cm3.webm') }}'>
    <img src='{{ url_for('static', filename='img/news/0021_cm3.jpg') }}'/>
  </a>
</figure>

{% endblock %}
