{% extends "news_item.html" %}
{% block news_date %}2019-07-31{% endblock %}
{% block news_title %}Nyaa.pantsu integration{% endblock %}
{% block news_author %}rr-{% endblock %}

{% block news_content %}

<p>Not much to say, but we have set up an account on <a
href='https://nyaa.pantsu.cat/'>nyaa.pantsu.cat</a>, so if that's your favorite
anime torrenting site, we hope you'll be happy to hear this news :) We have
uploaded <a href="https://nyaa.pantsu.cat/user/9515/old_castle/search">all of
our work</a>, too.</p>

{% endblock %}
