{% extends "news_item.html" %}
{% block news_date %}2019-10-19{% endblock %}
{% block news_title %}Halloween spooks{% endblock %}
{% block news_author %}rr-{% endblock %}

{% block news_content %}

<figure class='left'>
  <a href='img/news/0023.jpg'>
    <img src='img/news/0023.jpg'/>
  </a>
</figure>

<p>
  With Halloween around the corner, we have prepared a surprise for you!
  That surprise is by no means only the change of our site's graphic design.
  On the night of October 30 (so the day before, because of our international
  friends) we will release an atmospheric OVA from the late 80's that should
  make this spooky holiday even more enjoyable.
</p>
<p>
  Can you guess what title it is? :)
</p>

<p>
  Other than that, we'll be releasing Saint Tail twice a week, starting this
  week. Woo!
</p>

{% endblock %}
