{% extends "news_item.html" %}
{% block news_date %}2019-11-18{% endblock %}
{% block news_title %}The city of flowers{% endblock %}
{% block news_author %}rr-{% endblock %}

{% block news_content %}

<p>
  For some time, we've been working on a project that we haven't yet announced
  publicly. Today is the time to unveil the secret – it is a 13-episode long
  series entitled "Paris no Isabelle"! The story, loosely based on facts, tells
  of a girl named Isabelle, who unwillingly gets all tangled up in a political
  intrigue that will determine the fate of 19th-century France. We've already
  published the first episode :)
</p>

<p>
  We also haven't forgotten about "Ashita e Attack" that we promised to start
  working on after Wandering Sun. We got RAWs of acceptable quality only a
  little while ago. Our estimate is that we will start publishing the first
  episodes in the few first months of the upcoming year. Thanks for your
  patience!
</p>


{% endblock %}
