{% extends "news_item.html" %}
{% block news_date %}2020-03-10{% endblock %}
{% block news_title %}Ashita e Attack{% endblock %}
{% block news_author %}rr-{% endblock %}

{% block news_content %}

<p>
  After finishing Paris no Isabelle, we briefly stopped to release a small OVA
  titled "Noroi no One Piece" with the help of TougeWolf of <a
  href="http://www.inka-subs.net/">InkaSubs</a> and R-Raws. It's said to be the
  first significant work of Kyōtō Animation, so if you're a fan of that studio,
  be sure to check it out :)
</p>

<figure>
  <a href='img/news/0027.jpg'>
    <img src='img/news/0027.jpg'/>
  </a>
</figure>

<p>
  But the main news that we wanted to share today is that we've started
  subtitling Ashita e Attack, our second volleyball series! We know, we
  announced it as early as in January 2019, over 14 months ago. It's a lesson
  for us not to officially announce the projects we want to work on too early,
  so as not to tease too much. But now that the first episode is
  out, it should now go smoothly :)
</p>

{% endblock %}
