{% extends "news_item.html" %}
{% block news_date %}2020-04-03{% endblock %}
{% block news_title %}IRC XDCC bot{% endblock %}
{% block news_author %}rr-{% endblock %}

{% block news_content %}

<figure>
  <a href='img/news/0028.jpg'>
    <img src='img/news/0028.jpg'/>
  </a>
</figure>

<p>
  Short stop to announce that a guest by the name of "O-C|Ayuhara" has joined
  our IRC channel. She'll be there to dilgently serve all of releases. Massive
  thanks to Xerus for helping us to show her the ropes!
</p>

{% endblock %}
