{% extends "news_item.html" %}
{% block news_date %}2020-10-26{% endblock %}
{% block news_title %}Halloween 2020{% endblock %}
{% block news_author %}rr-{% endblock %}

{% block news_content %}

<figure class='left'>
  <a href='{{ url_for('static', filename='img/news/0030.jpg') }}'>
    <img src='{{ url_for('static', filename='img/news/0030.jpg') }}'/>
  </a>
</figure>

<p>
  It's been already a year since last Halloween. I can't believe time flies so
  fast! Anyway, we have a surprise for you this year as well and, frankly
  speaking, we've been working on it tirelessly throughout the last month. We
  will leave it up to your judgement whether it turns out be a trick or
  a treat, but we just hope you enjoy it :) The surprise will be released on
  October 30th, just like last year. We encourage you to place your bets in the
  guestbook as to what the project is!
</p>

<p>
  Edit: it was Kyōfu Shinbun (1991)! The OVA also includes a live-action
  special featuring Tsunoda Jirō, who is the author of the original manga.
  We have translated and bundled that special with our release as well.
</p>

{% endblock %}
