{% extends "news_item.html" %}
{% block news_date %}2020-11-23{% endblock %}
{% block news_title %}Introducing "Jeanie with the Light Brown Hair"!{% endblock %}
{% block news_author %}BlackRose108{% endblock %}

{% block news_content %}

<figure class='left'>
  <a href='img/news/0032.jpg'>
    <img src='img/news/0032.jpg'/>
  </a>
</figure>

<p>
  Hello everyone, we're starting another new project! No, this is not the
  1992 Nippon Animation adaptation "Girl of the Wind: Jeanie with the Light
  Brown air" that most people know of. This anime, simply titled "Jeanie with
  the Light Brown Hair", is the long forgotten 1979 version!
</p>

<p>
  If you remember "Paris no Isabel", which we released around this time last
  year, then you'll be familiar with this production company, DAX Productions.
  Jeanie with the Light Brown Hair" aired just as "Paris no Isabel" was
  wrapping up in the late summer of 1979. Jeanie is based off of a 1854 song of
  the same name by Stephen Foster, and follows the story of a young girl named
  Jeanie who struggles to do good during the beginnings of the violent American
  civil war.
</p>

<p>
  It's a charming 13-episode anime with some beautifully painted backgrounds.
  While it's made by a different team than "Paris no Isabel", both anime carry
  similar feel. But, of the two, Jeanie is definitely a little less obvious in
  it's portrayals of good and bad than Isabel. The "bad guys" in Jeanie don't
  have green skin, for example.
</p>

<p>
  So, please check out "Jeanie with the Light Brown Hair", another hidden gem
  from 1979!
</p>

{% endblock %}
