{% extends "news_item.html" %}
{% block news_date %}2020-12-31{% endblock %}
{% block news_title %}End-of-year summary{% endblock %}
{% block news_author %}rr-{% endblock %}

{% block news_content %}


<p>What a year. Despite numerous adversities, we managed to roughly maintain
our weekly pace and release quite a few titles. And so, this year we have been
working on:</p>

<table>
  <tr><td style='opacity: 0.5'>Saint Tail (remaster)</td><td>continued from 2019; finished</td></tr>
  <tr><td>Paris no Isabelle</td><td>continued from 2019; finished</td></tr>
  <tr><td>Noroi no One Piece</td><td>finished</td></tr>
  <tr><td>Ashita e Attack</td><td>finished</td></tr>
  <tr><td>Horror News</td><td>finished</td></tr>
  <tr><td style='opacity: 0.5'>Fables of the Green Forest (remaster)</td><td style='font-weight: bold'>ongoing</td></tr>
  <tr><td>Jeanie with the Light Brown Hair</td><td style='font-weight: bold'>ongoing</td></tr>
</table>

<p>Let's hope 2021 will be as fruitful in terms of anime releases as this one!
Regretfully, we didn't manage to prepare a surprise for this year's Christmas.
But nothing of value is lost, because as of today our weekly schedule will be
expanded by one more title: Corrector Yui!</p>

<figure>
  <a href='{{ url_for('static', filename='img/news/0033.jpg') }}'>
    <img src='{{ url_for('static', filename='img/news/0033.jpg') }}'/>
  </a>
</figure>

<p>It's a series about a girl who must save the world from evil artificial
intelligence by turning into a heroine of justice in virtual reality. Sounds
silly? Because it is! I strongly encourage you to watch it :) For now, we will
start to release only the first season of the two, which is a complete piece,
and then we'll see. The first 18 episodes of Corrector Yui got official
subtitiles, which we will leave untouched and just refresh their appearance.
Traditionally, new episodes will be published every Monday. Happy New Year!</p>

{% endblock %}
