{% extends "news_item.html" %}
{% block news_date %}2021-06-21{% endblock %}
{% block news_title %}Corrector Yui 2{% endblock %}
{% block news_author %}rr-{% endblock %}

{% block news_content %}

<p>Those of you who follow our guestbook probably know it already, but it's
time for an official news.</p>

<figure>
  <a href='{{ url_for('static', filename='img/news/0034.jpg') }}'>
    <img src='{{ url_for('static', filename='img/news/0034.jpg') }}'/>
  </a>
</figure>

<p>Today we released the 26th episode of Corrector Yui. We'll now take a small
break to release the batch, and then we'll resume our work with season two!
While some combine these two seasons into a single whole, we decided to divide
it into two separate seasons due to a clear distinction between their plots. We
hope you'll enjoy it (personally, I liked the second season even more than the
first!).</p>

<p>See you in ComNet :)</p>

{% endblock %}
